<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEST PAGE</title>
</head>
<body>
    

    <script>


        async function api(method, cpf) {
            

            if (method == 'GET') {

                api = await fetch(`https://127.0.0.1:5000/user/${cpf}`, {
                    method:'GET'
                })
                
                data = api.json()
                
                console.log(data)
            }
        }
            
    </script>

</body>
</html>